* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.sticky-container { 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}

.left-column { 
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.right-column { 
    width: 70%;
    height: 100%;
    filter: brightness(70%);
}

.package-bg-a { 
    background-image: url('./assets/img/big-lagoon.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.package-bg-b { 
    background-image: url('./assets/img/cudugnon-cave.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.package-bg-c { 
    background-image: url('./assets/img/secret-beach.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.left-column { 
    position: relative;
}
.left-column-package-a { 
    background-color: white;
}

.package-content { 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 180px;
    width: 100%;
    min-height: 40vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

.package-content-text { 
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    color: #2B3533;
}

.package-title {
    text-align: right;
    font-size: 120px;
    font-family: "Feeling Passionate", sans-serif;
    padding-right: 180px;
    color: #859657;
}

.package-title-a { 
    margin-top: 90px;
}
.package-title-b { 
    margin-top: 270px;
}
.package-title-c { 
    margin-top: 450px;
}

