 /**********NAV BAR ************/

.navbar-brand {
    width: 75%;   
    height: auto;      
     }

 .navbar-nav {
     font-family: 'Poppins', sans-serif;
     font-size: 14.4px;
     color: #606C5F; 
 }

 .navbar {
     background-color: #F8F3F3;
 }

 .active a{
   border-bottom: 3px solid #606C5F;
 }
 .navbar-toggler {
   color:#606C5F ;
   background-color: #F8F3F3;
 }

 /**********BODY-HOMEPAGE************/


 .body-homepage{
  overflow-x: hidden;
 }
 .masthead-homepage {
  min-height: 30rem;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 15rem;
  padding-bottom: 16rem;
  background: url(../img/homepage_bgimg.jpg) no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

section{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.content-section {
  background-color: #e4e6d0;
  min-height: 30rem;
  

}
.content-section h1{
  font-family: "Feeling Passionate",sans-serif;   
  font-size: 4vw; 

}
.content-section p{
  font-family: "Poppins",sans-serif;
  font-size: 1.5vw; 
}

.map-responsive{

  overflow:hidden;
  padding-bottom:47.5%;
  position:relative;
  height:0;
}

.map-responsive iframe{

  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
  

 .h1-homepage{
   color: #FFFFFF;
   font-size: 8vw; 
   font-family: "Feeling Passionate",sans-serif;   
   transform: rotate(-10deg);

  }

  .p-homepage {
   color: #FFFFFF;
   font-size: 1.5vw; 
   font-family: "Poppins",sans-serif;
   padding-left: 130px;
  }

 .explore-btn{
   font-family: "Poppins", sans-serif;
   text-decoration: none;
   backdrop-filter: blur(10px);
 }

 .explore-btn:hover{
   text-decoration: none;
   color: #000000;
   background-color: #FFFFFF;
 }

 /**********End of BODY-HOMEPAGE************/
 
 /**********Packages************/
 .masthead-packages {
  min-height: 30rem;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 15rem;
  padding-bottom: 16rem;
  background: url(../img/packages-bg.jpg) no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-btn{
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  background-color: #8F9657;
  color: #FFFFFF;
  text-decoration: none;
}

.select-btn:hover{
  text-decoration: none;
  color: #FFFFFF;
  background-color: #606C5F;
}

.card-body h2{
  font-family: "Feeling Passionate",sans-serif;   
  color: #606C5F;
}

.card-body h1{
  color: #8F9657;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.card-body p{
  color: #606C5F;
  font-family: "Poppins", sans-serif;
}

.box{
  box-shadow: -10px  10px  rgba(78, 76, 76, 0.671);

}

.map{
  max-width: 100%;
  height: auto;
  border: 10px solid #606C5F ;
}

.map-section{
  background: url(../img/bg-explore.png) fixed;
  
}

 /**********End of Packages************/
