 /**********NAV BAR ************/

.navbar-brand {
    width: 300px;         
     }

 .navbar-nav {
     font-family: 'Poppins', sans-serif;
     font-size: 14.4px;
     color: #606C5F; 
 }

 .navbar {
     background-color: #F8F3F3;
 }

 .active a{
   border-bottom: 3px solid #606C5F;
 }
 .navbar-toggler {
   color:#606C5F ;
   background-color: #F8F3F3;
 }

 /**********BODY-HOMEPAGE************/

 body {
   height: 100%;
   background: url(../img/homepage_bgimg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

 }

 .h1-homepage{
   color: #FFFFFF;
   font-size: 8vw; 
   font-family: "Feeling Passionate",sans-serif;   
   transform: rotate(-10deg);

  }

  .p-homepage {
   color: #FFFFFF;
   font-size: 1.5vw; 
   font-family: "Poppins",sans-serif;
   padding-left: 120px;
  }

  .body-homepage {
   display: flex; 
   justify-content: center;
   align-items: center; 
   
 }

 .explore-btn{
   font-family: "Poppins", sans-serif;
   text-decoration: none;
   backdrop-filter: blur(10px);
 }

 .explore-btn:hover{
   text-decoration: none;
   color: #000000;
   background-color: #FFFFFF;
 }
 /**********End of BODY-HOMEPAGE************/
