.navbar-brand {
  width: 300px;         
   }

.navbar-nav {
   font-family: 'Poppins', sans-serif;
   font-size: 14.4px;
   color: #606C5F; 
}

.navbar {
   background-color: #F8F3F3;
   flex-wrap: nowrap;
}

.navbar-toggler {
  color:#606C5F ;
  background-color: #F8F3F3;
}

.body-aboutUs{
  background-color: #E4E6D0;
}

.conatiner-aboutUs{
  position:relative;
  display: flex;
  top: 15vh;
  align-items: center; /* y- axis */
  justify-content: center; /* x -axis*/
}

.image-responsive{
  height: auto;
  width: 100%;
}

.text-responsive-aboutUs{
margin: 0 auto;
text-align: left;
}

@media screen and (max-width: 1000px) {
  .text-responsive-aboutUs{
    margin: 0 auto;
    text-align: center;
    }
}

.center-image-aboutUs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-style-aboutUs{
    width: 100%;
    height: 10px;
    background-color: #8F9657;
    border: 0 none;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.container-logos-connectWithUs{
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}

.p-connectWithUs{
  margin-left: 1vw;
}

.container-form-connectWithUs{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

@media screen and (max-width: 1000px) {
  .container-logos-connectWithUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    text-align: center;
  }
  .connectWithUs-title-adjust{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-4-connectWithUs-Adjust{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-adjust-connectWithUs{
  gap: 4vw;
  margin-top: 2vh;
}

@media screen and (max-width: 1000px) {
  .form-adjust-connectWithUs{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
  }
}

.btn-custom-connectWithUs{
  background-color: #606C5F;
  color: #E4E6D0;
  font-family: Poppins;

}

.container-button-connectWithUs{
display: flex;
justify-content: center;
align-items: center;
}

