 /**********NAV BAR ************/

 .navbar-brand {
    width: 300px;         
     }

 .navbar-nav {
     font-family: 'Poppins', sans-serif;
     font-size: 14.4px;
     color: #606C5F; 
 }

 .navbar {
     background-color: #F8F3F3;
 }

 .active a{
   border-bottom: 3px solid #606C5F;
 }
 .navbar-toggler {
   color:#606C5F ;
   background-color: #F8F3F3;
 }

 /********* PLACES **********/
 .body-places{
    background-image: url(../img/bg-explore.jpg);
    background-repeat: repeat-y;
    background-size: cover;
 }

 .h1-places{
    padding-top: 80px;
    padding-left: 50px;
    color: #606C5F;
    font-family: "Feeling Passionate",sans-serif; 
 }

 .h6-places{
    padding-left: 50px;
    color: #8f9657;
    font-family: "Poppins",sans-serif; 
    font-weight: bold;
}

 .img-places{
   padding-top:20px;
   width: 600px;
 }

 .h4-places{
   padding-top: 100px;
   color: #8f9657;
   font-family: "Poppins",sans-serif;
   font-weight: bold;
}

 .p-places{
   font-family: "Poppins",sans-serif;
   padding-bottom: 80px;
 }

 /*** ACTIVITIES ***/

 .body-activities{
    background-image: url(../img/bg-explore.jpg);
    background-repeat: repeat-y;
    background-size: cover;
 }

 .h1-activities{
   padding-top: 80px;
   color: #606C5F;
   font-family: "Feeling Passionate",sans-serif; 
}

.h6-activities{
   color: #8f9657;
   font-family: "Poppins",sans-serif; 
   font-weight: bold;
}

 .img-activities{
    padding-top: 40px;
    width: 300px;
 }

 .h4-activities{
    padding-top: 20px;
    color: #8f9657;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
 }

 .p-activities{
    font-family: "Poppins",sans-serif;
 }

 .explore-btn{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    backdrop-filter: blur(10px);
  }
 
  .explore-btn:hover{
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
  }

  @media (max-width:1199px){
   .h4-places{
      padding-top:30px ;
  }
}